* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

.container {
  padding: 2rem;
  width: 90%;
  margin: 10px auto;
  box-shadow: 0.1rem 0.1rem 0.3rem rgb(0 0 0 / 50%);
  background-color: #fff;
}

ul {
  list-style: none;
}

li {
  padding: 0.2rem;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
}

.folder-icon {
  background: url(./assets/icons/folder-open.svg) no-repeat 0 10px;
  padding-left: 2.3rem;
  height: 2rem;
  background-position: center left;
}
.file-icon {
  background: url(./assets/icons/file-empty.svg) no-repeat 0 10px;
  padding-left: 2.3rem;
  height: 2rem;
  background-position: center left;
}

.file-size {
  font-size: 0.8rem;
  color: #cecece;
}

.file-name {
  font-size: 1rem;
}

.file-text {
  line-height: 0.8;
}

.not-found {
  font-size: 1.5rem;
  margin-top: 1rem;
}
